extends layout

block content
  h1= title
  p #[em LocalLibrary]へようこそ！このサイトはMozilla Developer Networkのチュートリアルとして作られました。

  h1 コンテンツ

  p このライブラリには以下のコンテンツが登録されています。

  ul
    li #[strong 書籍:] !{book_count}
    li #[strong 冊数:] !{book_instance_count}
    li #[strong 在庫:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
